body{
  margin: 0px;
  padding-bottom: 500px;
}
a{
  text-decoration: none;
  color: inherit;
}
.Dashboard-header{
  background-color: black;
  color: white;
}
.status-tabs{
  display: flex;
  justify-content: center;
  gap: 100px;
}
.messages{
  width:700px;
  min-height: 500px;
  margin-left: 80px;
  display: none;

  background-color: rgb(248, 243, 243);
  
}
.header{
        background-color: black;
        display: flex;
        height: 60px;
        color: white;
        align-items: center;
        justify-content:space-around;
        position: fixed;
        right: 0;
        left: 0;
      }
.home-text, .Dashboard-text{
        cursor: pointer;
}
.tab{
  cursor: pointer;
  margin-top: 100px;
}